@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ff9900; /* Cambia este color al que más te guste */
}

.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  background-color: #333 !important; /* o cualquier otro color de tu elección */
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand{
  display: flex;
    justify-content: center;
    align-items: center;
}

.category-bar {
  background-color: #000033; 
  padding: 0.5rem 0;
}

.category-link {
  font-size: 1.3rem; /* Puedes ajustar este valor según el tamaño que desees */
}

.navbar-dark .nav-link {
  transition: color 0.3s;
}

.navbar-dark .nav-link:hover {
  color: #eee; 
}

button, a {
  transition: all 0.3s ease;
}

.item-list.container {
  display: flex;
}

.filters {
  width: 20%; /* o el ancho que desees */
  padding-right: 20px; /* añade algo de espacio entre los filtros y los items */
}

.filters label {
  display: block;
  margin-bottom: 10px;
}

.filters input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

/* Estilos base para la barra lateral */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    background-color: #f4f4f4;
    transition: left 0.3s;
    overflow-y: scroll;
    padding: 20px;
}

.sidebar.open {
    left: 0;
}

/* Estilos para los filtros dentro de la barra lateral */
.sidebar .filters label {
    display: block;
    margin-bottom: 10px;
}

.sidebar .filters input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}


.filters {
  flex: 0.2; /* O puedes usar width: 20%; por ejemplo */
}

.row {
  flex: 0.8; /* O puedes usar width: 80%; por ejemplo */
}


@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

.fade-in.delay-1s {
  animation-delay: 1s;
}

.fade-in.delay-2s {
  animation-delay: 2s;
}



.divider{
  border-bottom: 1px solid #e0e0e0;
  margin: 20px 0;
  width: 80%;
}